body{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

/* NAVEGADOR */

.navegador{
    background-color: #0A3A64;
}

.navegador .items {
    color:whitesmoke;
    font-weight: bold;
  }

  .navegador .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    font-size: 25px;
  }
  
/* MAIN */

  .container-main {
    height: 130vh;
    min-height: 500px;
    background-image: url("images/obi-onyeador-XT95JA80yzM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


/* FORMULARIO BIENVENIDA */
#form-bienvenida{
  margin-top: 100px;

}

#containerBievenida{
  margin-bottom: 30px;
  padding-left:30px;
  padding-right: 30px;
}

#containerBtnConfirmar{
  margin-top: 0px;
}

#form-bienvenida label{
  font-weight: bold;

}

#form-bienvenida input{
  margin-bottom: 50px;

}

/* FORMULARIO CARGA DE DATOS */

fieldset {
    border: solid 2px black;
    background-color:whitesmoke;
    margin-top: 50px;
    margin-bottom: 20px;
    }
    
legend {
font-weight: bold;
text-align: center;
}

.label-container {
text-align: left;
}

.form-label {
font-weight: bold;
margin-left: 10px;
}

.form-control{
border: 1px solid black;
border-radius: 0%;
}

.warning{
  color: red;
  font-weight: bold;
  font-size: small;
}

.container-botones {
display: flex;
justify-content: center;
gap: 40px;
margin-top: 70px;
}

.container-botones .boton {
background-color: #0A3A64;
border: black;
font-weight: bold;
border-radius: 0%;
}

.container-botones .boton:hover {
color: whitesmoke;
background-color: #2A5376;
}

.textoOpcion{
  background-color: whitesmoke;
  margin-top: 50px;
  border: solid 2px black;
}


/* CATALOGO */

/* FORM */


/* GRILLA */

#containerHome{
  margin-top: 30px;
}


.car-option{
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  margin-top: 20px;
  border:solid 1px;
  border-color: grey;
}

.imagen-producto{
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.car-name{
font-size: 25px;
font-weight: bold;
}

.imagen-producto img{
  width: 219px;
  height: 164px;
}

.car-price{
  font-size: large;
}

.reservarAuto{
  background-color: #0A3A64;
  color: white;
  font-weight: bold;
  border-radius: 0%;
  height:50px ;
  width:150px ;
  border: 0px;
}

/* FOOTER */
footer {
    background-color: #303030;
    color: white;
    padding: 10px;
  }
  
footer .footer-flex {
display: flex;
justify-content: center;
}
  
footer h4{
      font-size: 20px;
    }


